<div class="row">
    <div class="col-xs-12 col-sm-8">
        <app-pos-keypad [allowDecimal]="false" (keypadValue)="setAuthorizationNumberValue($event)"></app-pos-keypad>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="payment-method-form text-end">
            <div class="form-group mb-2">
                <label class="form-label mb-0 payment-form-label pe-2 text-strong" for="auhtorizationNumber"><i class="fa-solid fa-hashtag me-2"></i>Número
                    de Autorización:</label>
                <input type="text" name="auhtorizationNumber" id="auhtorizationNumber" class="form-control payment-method-control"
                    [(ngModel)]="authorizationNumber" [disabled]="true" placeholder="#########" />
            </div>
        </div>
    </div>
</div>