<div class="row">
    <div class="col-xs-12 col-sm-8">
        <app-pos-keypad [allowDecimal]="false" (keypadValue)="setReferenceValue($event)"></app-pos-keypad>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="transfer-payment-information mb-4">
            <div class="information-group mb-4">
                <b><i class="fa-solid fa-money-check-dollar me-2"></i>Banco:</b> <br>
                <span class="text-charcoal-muted information-value d-block">{{bank}}</span>
            </div>
            <div class="information-group mb-4">
                <b><i class="fa-solid fa-money-check-dollar me-2"></i>No. de Cuenta:</b> <br>
                <span class="text-charcoal-muted information-value d-block">{{accountNumber}}</span>
            </div>
            <div class="information-group">
                <b><i class="fa-solid fa-key me-2"></i>CLABE:</b> <br>
                <span class="text-charcoal-muted information-value d-block">{{bankCode}}</span>
            </div>
        </div>
        <div class="payment-method-form">
            <div class="form-group mb-2">
                <label class="form-label mb-0 payment-form-label pe-2 text-strong" for="referenceNumber"><i class="fa-solid fa-hashtag me-2"></i>Número de
                    Referencia:</label>
                <input type="text" name="referenceNumber" id="referenceNumber" class="form-control payment-method-control"
                    [(ngModel)]="reference" [disabled]="true" placeholder="#########" />
            </div>
        </div>
    </div>
</div>