<div class="payment-method-container">
    <h6 class="text-strong">Método de Pago:</h6>
    <div class="payment-method-button-group">
        <button class="payment-method-button px-0 btn btn-outline-sienna px-1 m-1" (click)="open(PaymentModal, 1)"><i class="fa-solid fa-money-bills"></i><br> Efectivo</button>
        <button class="payment-method-button px-0 btn btn-outline-sienna px-1 m-1" (click)="open(PaymentModal, 2)"><i class="fa-solid fa-credit-card"></i> <br> Tarjeta</button>
        <button class="payment-method-button px-0 btn btn-outline-sienna px-1 m-1" (click)="open(PaymentModal, 3)"><i class="fa-solid fa-money-bill-transfer"></i> <br> Transferencia</button>
        <button class="payment-method-button px-0 btn btn-outline-sienna px-1 m-1" (click)="open(PaymentModal, 4)"><i class="fa-solid fa-money-bills"></i> | <i class="fa-solid fa-credit-card"></i> <br> Combinado</button>
    </div>
</div>

<ng-template #PaymentModal let-modal>
	<div class="modal-header payment-modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body payment-modal-body">
        <app-pos-cash-payment [orderTotal]="orderTotal" *ngIf="selectedPaymentMehod == 1"></app-pos-cash-payment>
        <app-pos-card-payment *ngIf="selectedPaymentMehod == 2"></app-pos-card-payment>
        <app-pos-transfer-payment *ngIf="selectedPaymentMehod == 3"></app-pos-transfer-payment>
        <app-pos-mixed-payment *ngIf="selectedPaymentMehod == 4"></app-pos-mixed-payment>
	</div>
	<div class="modal-footer payment-modal-footer">
        <button class="btn btn-lg btn-outline-secondary me-2" (click)="modal.close('Close click')">Cancelar</button>
		<button type="button" class="btn btn-lg btn-jungle" (click)="clickPayButton(selectedPaymentMehod);modal.close('Save click')">Pagar</button>
	</div>
</ng-template>

<hr />