/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';
@use '_custom-colors.scss' as colors;
@use '_custom-buttons.scss';
@use '_custom-panels.scss';
@use 'custom-nav';

html,
body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: colors.$charcoal-black;
}

.w100 {
    width: 100%;
}

.text-strong {
    font-weight: bold;
}

.text-sienna {
    color: colors.$sienna-orange;
}

.text-jungle {
    color: colors.$jungle-green;
}

.text-right {
    text-align: right;
}

.text-charcoal-muted {
    color: lighten(colors.$charcoal-black, 30%);
}