/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import '_custom-colors.scss';
@import '_custom-buttons.scss';
@import '_custom-panels.scss';

html,
body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $charcoal-black;
}

.w100 {
    width: 100%;
}

.text-strong {
    font-weight: bold;
}

.text-sienna {
    color: $sienna-orange;
}

.text-jungle {
    color: $jungle-green;
}

.text-right {
    text-align: right;
}

.text-charcoal-muted {
    color: lighten($charcoal-black, 30%);
}