/* Colors */

$white: #ffffff;
$black: #000000;

/* Palette */
$background-gray: #f5f5f5;
$sienna-orange: #D9754A;
$charcoal-black: #2F302B;
$jungle-green: #337357;
$leaf-green: #98B634;
$coffe-white: #E4E3D3;
$caramel-yellow: #FFDF99;


/*Bootstrap Color*/

$bootstrap-red: #dc3545;